/* 
 * URxvt configuration - note that Linux doesn't support emoji so
 * Noto Color Emoji will always fall back to Symbola until this is 
 * addressed in both Linux and URxvt
 */
URxvt.font:        xft:Hack-Regular:pixelsize=14,xft:Noto Color Emoji,xft:Symbola
URxvt.boldFont:    xft:Hack-Bold:pixelsize=14:weight=bold,xft:Symbola
URxvt.italicFont:  xft:Hack-RegularOblique:pixelsize=14:slant=italic,xft:Symbola


urxvt*background:  black
urxvt*foreground:  white

URxvt.transparent: true
URxvt.shading:     20

URxvt.scrollBar:   false

/* XTerm configuration */
XTerm*background:black
XTerm*foreground:white
XTerm*locale: true
XTerm*saveLines:1000
XTerm*renderFont: true
XTerm*faceName: Hack
XTerm*faceSize: 11

Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

/* For siduck/st variant of st */
st.font:           Hack-Regular:pixelsize=15:lcdfilter=lcddefault:rgba=rgb:antialias=true:autohint=false,Noto Color Emoji:antialias=true:autohint=true,Symbola:antialias=true:autohint=true
st.alpha:          0.9
st.background:     black

Xcursor.size: 16

#include ".Xresources.d/base16theme"

*color00: base00
*color01: base01
*color02: base02
*color03: base03
*color04: base04
*color05: base05
*color06: base06
*color07: base07
*color08: base08
*color09: base09
*color0A: base0A
*color0B: base0B
*color0C: base0C
*color0D: base0D
*color0E: base0E
*color0F: base0F
